<div class='row'>
  <div class='col-4 card p-4'>

    <h5 class='card-title'>Fornecedor</h5>

    <div class='form-group'>
      <label for='exampleInputEmail1'>Name</label>
      <input type='text' #nome class='form-control' id='inputNome' autocomplete='off' placeholder='Example input'>
    </div>

    <div class='form-group'>
      <label for='exampleInputSobrenome'>Endereço</label>
      <input type='text' #endereco class='form-control' id='inputSobrenome' autocomplete='off'
        placeholder='Example input'>
    </div>

    <div class='form-group'>
      <label for='exampleInputEmail1'>Estado</label>
      <input type='email' #estado class='form-control' id='inputEmail' autocomplete='off' placeholder='Enter email'>
    </div>

    <button id='btnCriar' (click)='criarFornecedor({ nome: nome.value , endereco: endereco.value, estado: estado.value})'
      class='btn btn-primary'>Criar</button>
  </div>
  <div class='col-8 card p-2'>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>Id</th>
          <th scope='col'>Nome</th>
          <th scope='col'>Endereço</th>
          <th scope='col'>Estado</th>
          <th scope='col'>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let fornecedor of fornecedores'>
          <th scope='row'>{{ fornecedor.id }}</th>
          <td>{{fornecedor.nome}}</td>
          <td>{{fornecedor.endereco}}</td>
          <td>{{fornecedor.estado}}</td>
          <td>
            <button (click)='excluir(fornecedor.id)' class='btn btn-primary'>Excluir</button>
            <button (click)='editar(fornecedor)' class='btn btn-primary'>Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>