<div class="form-group">
  <label for="exampleInputEmail1">Name</label>
  <input type="text" #nome class="form-control" id="formGroupExampleInput" autocomplete="off" placeholder="Example input">
</div>

<div class="form-group">
  <label for="exampleInputEmail1">Email</label>
  <input type="email" #email class="form-control" autocomplete="off" placeholder="Enter email">
</div>

<div class="form-group">
  <label for="exampleInputPassword1">Password</label>
  <input type="password" #senha class="form-control" id="exampleInputPassword1" autocomplete="off" placeholder="Password">
</div>

<button (click)="criar(nome.value, email.value, senha.value)" class="btn btn-primary">Criar</button>