USE [master]
GO
/****** Object:  Database [restAPI]    Script Date: 14/11/2018 18:17:02 ******/
CREATE DATABASE [restAPI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'restAPI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\restAPI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'restAPI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\restAPI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [restAPI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [restAPI]
GO
USE [restAPI]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 14/11/2018 18:17:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Nome] [varbinary](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Senha] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
